* {
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #9AD3CA ;
    box-sizing: border-box;
}

h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: 50;
	text-align: center;
	margin: 3rem 0 3rem; 
    font-family: 'Texturina','serif';
}

.title {
	color: black;
	text-transform: capitalize;
    font-weight: 100%;

}

.inputDiv{
	justify-content: center;
    align-items: center;
    text-align: center;
}

.input{
    padding: 0.5rem 1rem;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 1rem;
    transition: .5s;
    font-size: 1.15rem;
}
.container{
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin-top: 2rem;
    font-size: 30px;
}
#list{
    border-bottom: 4px solid;
    border: black;
	margin-bottom: 2.5rem;
}
.edit{
    color: black;
    border: 2px solid;
	font-size: 20px;
    font-family: 'Texturina','serif';
    background-color: green;
    border-radius: 5px;
	margin: 0 0.5rem;
}
.remove {
    color: black;
    border: 2px solid;
	font-size: 20px;
    font-family: 'Texturina','serif';
    background-color: red;
    border-radius: 5px;
	margin: 0 0.5rem;
}
      